.newsletter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #ffffff 0%, #8aa89322 60%);
    gap: 30px;


}

.newsletter h1{
    color: #454545;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 55px;
    
}

.newsletter p{
    color: #454545;
    
    font-size: 20px;
}
.newsletter div{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    gap: 10px;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;


}

.newsletter input{
    width: 500px;
    margin-left: 30px;

    border: none;
    outline: none;
    padding: 0px 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #454545;

}

.newsletter button{
    width: 200px;
    height: 70px;
    border: none;
    outline: none;
    border-radius: 80px;
    background: #d91313;
    color: white;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
   
    
}

.newsletter button:active{
    background: white;
    color: #d91313;
    transition: all 0.8s ease-in-out;
    box-shadow: 0px 0px 10px 0px #d91313;
    border: 1px solid #d91313;
    border-radius: 80px;

}