.offers{
    width: 65%;
    height: 60vh;
    display:flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff , #e1ffea22 60%);

}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    font-size: 80px;
    font-weight: 600;
    color: #626262;
}

.offers-left p{
    font-size: 22px;
    font-weight: 600;
    color: #626262;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #f13737;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 30px;;
}

.offers-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
   
   
}