.new-collections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}
.new-collections h1 {
    font-size: 50px;
    font-weight: 600;
    color: #626262;
}
.new-collections hr {
    width: 200px;
    height: 6px;
    background-color: #626262;
    border-radius: 10px;

}
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    cursor: pointer;

   
}